.books, .admin {
  border-top: 2px solid var(--light-gray);
  border-bottom: 2px solid var(--light-gray);
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0 3rem;
  align-content: stretch;
}

.filterBox {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2rem;
}

.count {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.searchBtn {
  padding: 0.5rem;
  margin-left: 1rem;
}