.bookBox {
  display: flex;
  padding: 2.25rem 0;
}

.bookBox + .bookBox {
  border-top: 1px solid var(--light-gray);
}

.checkbox {
  transform: scale(1.5);
  margin-right: 1rem;
}

.link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  margin-left: 1rem;
}

.img {
  overflow: hidden;
  flex-basis: 140px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.img img {
  display: block;
  width: 100%;
}

.content {
  flex: 1;
  margin-left: 1.5rem;
  color: var(--gray);
  font-size: 0.875rem;
  word-break: keep-all;
}

.category {
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.title {
  line-height: 1.5;
  font-weight: 600;
  font-size: 1.1rem;
  color: #000;
}

.author {
  margin-top: 0.3rem;
  font-weight: 600;
}

.price {
  margin-top: 1.2rem;
  font-size: 1rem;
}

.discount {
  font-weight: bold;
  color: var(--yellow-green);
  padding-right: 0.3rem;
}

.origin {
  padding-left: 0.15em;
  font-size: 0.8rem;
  color: var(--gray);
  text-decoration: line-through;
}

.desc {
  margin-top: 1.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  width: 100%;
  line-height: 1.7;
}

.btnBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 3rem;
}

.wishBtn {
  background-color: transparent;
  margin-bottom: 1.8rem;
  font-size: 1.5rem;
  color: var(--light-gray);
}

.wishBtn:hover {
  color: var(--medium-gray);
}

.wishBtn.wish {
  color: red;
}

.wishBtn.wish:hover {
  color: rgba(255, 0, 0, 0.8)
}

.cartBtn,
.purchaseBtn {
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  word-break: keep-all;
  font-size: 0.9rem;
  background-color: var(--brand-color);
  color: #fff;
}


.cartBtn:focus,
.purchaseBtn:focus,
.cartBtn:hover,
.purchaseBtn:hover {
  background-color: var(--brand-hover-color)
}

.purchaseBtn {
  margin-top: 1rem;
}

/* grid */
.grid + .grid {
  border: 0;
}

.grid .link {
  display: block;
  margin: 0;
}

.grid .img {
  display: flex;
  align-items: center;
  height: 80%;
  box-shadow: none;
}

.grid .content {
  width: 100%;
  margin: 1rem 0 0;
  padding: 1rem 0.5rem;
  border-top: 1px solid var(--light-gray);
}

.grid .title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}