.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  display: flex;
  margin-bottom: 6rem;
}

.right {}

.img {
  display: block;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.left {
  max-width: 600px;
  margin-left: 3rem;
}

.category {
  color: var(--gray);
  margin-bottom: 1rem;
}

.title {
  font-size: 2rem;
}

.author {
  margin-top: 0.5rem;
  line-height: 1.7;
  font-weight: bold;
  font-size: 1rem;
}

.publish {
  line-height: 1.7;
  color: var(--dark-gray);
}

.price {
  margin-top: 3rem;
  font-size: 1.8rem;
}

.discount {
  font-weight: bold;
  color: var(--yellow-green);
  padding-right: 0.5rem;
}

.origin {
  padding-left: 0.5rem;
  font-size: 1.1rem;
  color: var(--gray);
  text-decoration: line-through;
}

.btnBox {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.btnBox button {
  display: inline-flex;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}

.btnBox button + button {
  margin-left: 1rem;
}

.cartBtn,
.purchaseBtn {
  background-color: var(--brand-color);
  color: #fff;
}

.cartBtn:hover,
.purchaseBtn:hover {
  background-color: var(--brand-hover-color);
}

.cartBtn .icon,
.purchaseBtn .icon {
  font-size: 1.5em;
  margin-right: 0.3em;
}

.wishBtn {
  font-size: 1.5em;
  color: var(--gray);
  background-color: var(--smoke-white);
  border: 2px solid var(--light-gray);
}

.wishBtn:hover {
  background-color: #fff;
  /* border-color: var(--gray); */
}

.wish .icon {
  color: red;
}

.content {
  width: 100%;
  padding: 4rem 2rem 0;
  border-top: 1px solid var(--light-gray);
}

.content section {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

.sectionTitle {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.sectionTitle::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 20px;
  margin-right: 10px;
  background-color: var(--brand-color);
}

.desc {
  line-height: 1.7;
}