.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  display: flex;
  margin-bottom: 6rem;
}

.right {}

.img {
  display: block;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.left {
  max-width: 600px;
  margin-left: 3rem;
  padding-top: 2rem;
}

.title {
  font-size: 2rem;
}

.author {
  margin-top: 0.6rem;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--gray);
}

.btnBox {
  margin-top: 3rem;
}

.btnBox button {
  display: inline-flex;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--brand-color);
  color: #fff;
}

.btnBox button + button {
  margin-left: 1rem;
}

.btnBox button:hover {
  background-color: var(--brand-hover-color);
}

.btnBox .icon {
  font-size: 1.5em;
  margin-right: 0.3em;
}

.cartBtn {}

.wishBtn {}

.content {
  width: 100%;
  padding: 4rem 2rem 0;
  border-top: 1px solid var(--light-gray);
}

.content section {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

.sectionTitle {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.sectionTitle::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 20px;
  margin-right: 10px;
  background-color: var(--brand-color);
}

.desc {
  line-height: 1.7;
}